* {
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.board {
    border-collapse: collapse;
    height: 40%;
    width: 40%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 10%;
}