* {
    margin: 0 auto;
    padding: 0;
}

.grad {
    background: linear-gradient(to bottom right, rgba(84, 136, 215, 0.6), rgba(58,94,70,0.6));
    border-radius: 25px;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.board {
    border-collapse: collapse;
    height: 40%;
    width: 40%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 10%;
}